.vs/
/Podcastomatik/Podcastomatik/obj
/Podcastomatik/Podcastomatik/bin/Debug/netstandard2.0
/Podcastomatik/Podcastomatik.Android/bin/Debug
/Podcastomatik/Podcastomatik.Android/obj
/Podcastomatik/Podcastomatik.iOS/bin/iPhoneSimulator/Debug
/Podcastomatik/Podcastomatik.iOS/obj
/Podcastomatik.Shared/bin/Debug/netstandard2.0
/Podcastomatik.Shared/obj
/fontawesome-free-5.12.0-desktop.zip
/fontello-30dc8265.zip
